#bg{
    background:url("../images/c1.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
}
body{
    box-sizing:border-box;
    width: 100%;
    background-image: url("/images/back8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-indent: 20px;
    color:aliceblue;
    }
form {
    /* margin-left: 25%;
    font-size: 10px;
    text-align:left;
    width: 35%;
    height: 100%;
    border-radius: 10px; */
    background-color: rgb(150, 160, 93);
    /* color: rgb(3, 3, 3);
    font: size 5px;
    opacity: 0.5px;
    font-family:sans-serif; */
}
h1{
    color: rgb(15, 14, 14);
}